{% for tag in workspace.tags %}
{% if tag.mine %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#ff0000}<%{T1}%{F#f8f8f2}{{tag.name}}%{F#ff0000}> %{F-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{T1}%{F#f8f8f2}{{tag.name}}%{F#bd93f9}· %{F-}
%{A}
{% elsif tag.busy  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{T1}%{F#f8f8f2}{{tag.name}}· %{F-}
%{A}
{% else tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#f8f8f2}%{T1}{{tag.name}}  %{F-}
%{A}
{% endif %}
{% endfor %}
